In [115]:
import os, json, glob
import pandas as pd
from pandas import ExcelFile
import numpy as np
from passyunk.parser import PassyunkParser

C:\Users\catst\Anaconda2\lib\site-packages\passyunk\parser.py:619: UserWarning: USPS file not found.
  warnings.warn('USPS file not found.')
C:\Users\catst\Anaconda2\lib\site-packages\passyunk\parser.py:625: UserWarning: Election file not found.
  warnings.warn('Election file not found.')

In [33]:
with open("cols.json") as cols_file:
    column_names = json.load(cols_file)['cols']
print len(column_names)

43

In [25]:
cols = ['ID','last_name','first_name','gender','house_number','street','apartment_number','zip','council_district']
f = 'Philly Voter List 3.xlsx'
to_str = lambda x: str(x)
df = pd.read_excel(f,header=None, nrows=10,names=cols, usecols=[0,2,3,6,12,14,15,19,38],converters={'house_number':to_str,'zip':to_str})

In [23]:
df['short_address'] = df['house_number'].astype(str) + df['street']

In [29]:
df['house_number']

0          526.0
1         1702.0
2         1121.0
3          723.0
4         1401.0
5          250.0
6          145.0
7         1003.0
8          222.0
9          709.0
10         644.0
11         816.0
12         437.0
13         615.0
14        1433.0
15         814.0
16        1512.0
17         839.0
18         236.0
19        1311.0
20        1533.0
21         704.0
22        1611.0
23        1524.0
24        1415.0
25         434.0
26        1413.0
27         507.0
28         917.0
29         430.0
          ...
49970      425.0
49971    10204.0
49972     2701.0
49973    12407.0
49974     3870.0
49975    10733.0
49976    12209.0
49977     3750.0
49978     3750.0
49979    12209.0
49980     9923.0
49981    11921.0
49982    10923.0
49983     4165.0
49984     3721.0
49985     3517.0
49986     3501.0
49987     9951.0
49988     3750.0
49989      189.0
49990    10922.0
49991     2958.0
49992    11843.0
49993     4257.0
49994    11713.0
49995     3643.0
49996    12242.0
49997     3400.0
49998    12018.0
49999        NaN
Name: house_number, dtype: float64

In [36]:
allFiles = glob.glob("Philly*.xlsx")
frame = pd.DataFrame()
list_ = []
#cols = ['first_name','last_name','gender','council_district','house_number','street','zip']
for file_ in allFiles:
    df = pd.read_excel(file_,index_col=0, header=None, names=column_names, usecols=range(0,44))
    list_.append(df)
frame = pd.concat(list_)

In [64]:
fairhill = frame.loc[frame['zip']==19133]

fairhill.to_csv('fairhill.csv',encoding='utf-8')

In [71]:
properties = pd.read_csv('../opa_properties_public.csv',usecols=['location','owner_1','owner_2','lat','lng'])

In [74]:
fairhill['location'] = fairhill['house_number'].astype(str) + " " + fairhill['street']

C:\Users\catst\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [131]:
p = PassyunkParser()
fairhill['location2'] = fairhill['location'].apply(lambda x: p.parse(x)['components']['output_address'])

C:\Users\catst\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [132]:
properties['location2'] = properties['location'].apply(lambda x: p.parse(x)['components']['output_address'])

<h1> FUCK IT </h1>

In [148]:
geocoded_voters_standardized = pd.merge(fairhill,properties,how='left',on='location2')

In [149]:
geocoded_voters_standardized

,last_name,first_name,gender,house_number,street,apartment_number,zip,council_district,location_x,location2,ID,location_y,owner_1,owner_2,lat,lng
0,GARCIA,JAZMINE,F,158,W ALLEGHENY AVE,NaN,19133,CTC07,158 W ALLEGHENY AVE,158 W ALLEGHENY AVE,015925836-51,158 W ALLEGHENY AVE,RIVERA ULISES JR,NaN,39.998640,-75.131995
1,OLMEDO,ELIUD,U,2839,N HOWARD ST,NaN,19133,CTC07,2839 N HOWARD ST,2839 N HOWARD ST,015926733-51,2839 N HOWARD ST,BELTRAN CECILIO,NaN,39.993485,-75.131227
2,MARBLEY,ANDRE,M,174,W ALLEGHENY AVE,38,19133,CTC07,174 W ALLEGHENY AVE,174 W ALLEGHENY AVE,015936329-51,NaN,NaN,NaN,NaN,NaN
3,DAVENPORT,LENNARD,M,123,W WISHART ST,NaN,19133,CTC07,123 W WISHART ST,123 W WISHART ST,015938055-51,123 W WISHART ST,ALSTON ANITA,NaN,39.998233,-75.130042
4,AGOSTO,LIZZETTE,F,2727,N MASCHER ST,NaN,19133,CTC07,2727 MASCHER ST,2727 MASCHER ST,015939879-51,2727 MASCHER ST,SANTIAGO FERNANDO,NaN,39.991832,-75.132559
5,ARROYO,CHRISTINE,F,2906,N MUTTER ST,NaN,19133,CTC07,2906 N MUTTER ST,2906 N MUTTER ST,015944456-51,NaN,NaN,NaN,NaN,NaN
6,GONZALEZ,ROSA,F,2727,N HOPE ST,NaN,19133,CTC07,2727 HOPE ST,2727 HOPE ST,015944718-51,2727 HOPE ST,PEREZ CONNIE TR,NaN,39.991798,-75.131129
7,CINTRON,ALEXANDRIA,F,2754,N HOWARD ST,NaN,19133,CTC07,2754 N HOWARD ST,2754 N HOWARD ST,015945373-51,2754 N HOWARD ST,ELMER MONTANEZ,ALEJ,39.992240,-75.131875
8,TORRES,LESLIE,F,2724,N WATERLOO ST,NaN,19133,CTC07,2724 N WATERLOO ST,2724 N WATERLOO ST,015945943-51,NaN,NaN,NaN,NaN,NaN
9,SANTIAGO,LUIS,U,3101,N PALETHORP ST,NaN,19133,CTC07,3101 PALETHORP ST,3101 PALETHORP ST,015946390-51,3101 PALETHORP ST,RODRIQUEZ DIANA,NaN,39.997461,-75.132851
10,NEGRON,MANUELA,U,2827,N WATERLOO ST,NaN,19133,CTC07,2827 N WATERLOO ST,2827 N WATERLOO ST,015947161-51,NaN,NaN,NaN,NaN,NaN
11,NEGRON,HECTOR,U,2827,N WATERLOO ST,NaN,19133,CTC07,2827 N WATERLOO ST,2827 N WATERLOO ST,015947162-51,NaN,NaN,NaN,NaN,NaN
12,BROGDON,CLARA,F,2855,N HOWARD ST,NaN,19133,CTC07,2855 N HOWARD ST,2855 N HOWARD ST,015961519-51,2855 N HOWARD ST,SIERRA ABRAHAM,NaN,39.993791,-75.131159
13,JACKSON,DEITRA,F,174,W ALLEGHENY AVE,NaN,19133,CTC07,174 W ALLEGHENY AVE,174 W ALLEGHENY AVE,015963149-51,NaN,NaN,NaN,NaN,NaN
14,MAJOR,BRUCE,M,2851,N PALETHORP ST,NaN,19133,CTC07,2851 PALETHORP ST,2851 PALETHORP ST,015972947-51,2851 PALETHORP ST,MAJOR LOIS M,NaN,39.993930,-75.133623
15,TOLEDO,ANGELO,M,2942,N MASCHER ST,NaN,19133,CTC07,2942 MASCHER ST,2942 MASCHER ST,015981815-51,2942 MASCHER ST,QUIALA ROLANDO,QUIALA NATVIDAD,39.995158,-75.132211
16,VAZQUEZ,VANESSA,F,2841,N HANCOCK ST,NaN,19133,CTC07,2841 N HANCOCK ST,2841 N HANCOCK ST,015983451-51,2841 N HANCOCK ST,RIVERA JOSE ENRIQUE,RIVERA FELICITA,39.993689,-75.133125
17,LOPEZ,MARITZA,F,2905,N 02ND ST,NaN,19133,CTC07,2905 N 2ND ST,2905 N 2ND ST,015985094-51,2905 N 2ND ST,CANALES JORGE R,NaN,39.994614,-75.133974
18,MEDINA,PROVIDENCIA,F,103,W CLEARFIELD ST,NaN,19133,CTC07,103 W CLEARFIELD ST,103 W CLEARFIELD ST,015989156-51,103 W CLEARFIELD ST,OVALLES-PAULINO ADALBERTO,NaN,39.997138,-75.129973
19,RAMOS,ELIZABETH,F,2865,N PALETHORP ST,NaN,19133,CTC07,2865 PALETHORP ST,2865 PALETHORP ST,015998115-51,2865 PALETHORP ST,RIVERA TRACY ANN,NaN,39.994196,-75.133566
20,DAVILA AGOSTO,CARMEN,U,2749,N MASCHER ST,NaN,19133,CTC07,2749 MASCHER ST,2749 MASCHER ST,016013985-51,2749 MASCHER ST,SANTOS PEREZ SANTOS,CARMEN,39.992244,-75.132473
21,MALDONADO,ANNA,F,148,W LIPPINCOTT ST,NaN,19133,CTC07,148 W LIPPINCOTT ST,148 W LIPPINCOTT ST,016038190-51,148 W LIPPINCOTT ST,MALDONADO ANNA MARIE,NaN,39.997673,-75.131043
22,VALENTIN,MANUEL,M,2757,N WATERLOO ST,NaN,19133,CTC07,2757 N WATERLOO ST,2757 N WATERLOO ST,016074167-51,NaN,NaN,NaN,NaN,NaN
23,DE LEON,CARMEN,U,2841,N PALETHORP ST,NaN,19133,CTC07,2841 PALETHORP ST,2841 PALETHORP ST,016074169-51,2841 PALETHORP ST,DE LEON CARMEN,NaN,39.993744,-75.133665
24,ALFARO,ISRAEL,M,2762,N HOWARD ST,NaN,19133,CTC07,2762 N HOWARD ST,2762 N HOWARD ST,016074171-51,2762 N HOWARD ST,ALFARO ISRAEL,NaN,39.992393,-75.131844
25,GONZALEZ,JOSE,M,2709,N HOPE ST,NaN,19133,CTC07,2709 HOPE ST,2709 HOPE ST,016074173-51,2709 HOPE ST,OLIVO PAULA,NaN,39.991492,-75.131190
26,VELEZ,CARMEN,F,2759,N WATERLOO ST,NaN,19133,CTC07,2759 N WATERLOO ST,2759 N WATERLOO ST,016074177-51,NaN,NaN,NaN,NaN,NaN
27,MORALES,AIDA,U,125,W LEHIGH AVE,NaN,19133,CTC07,125 W LEHIGH AVE,125 W LEHIGH AVE,016074200-51,125 W LEHIGH AVE,TORRES ANGEL,NaN,39.991235,-75.131686
28,DE JESUS,MAGDA,F,2755,N WATERLOO ST,NaN,19133,CTC07,2755 N WATERLOO ST,2755 N WATERLOO ST,016074209-51,NaN,NaN,NaN,NaN,NaN
29,CONCEPCION,FRANCISCA,F,2747,N HOPE ST,NaN,19133,CTC07,2747 HOPE ST,2747 HOPE ST,016074214-51,2747 HOPE ST,CONCEPCION FRANCISCA,NaN,39.992182,-75.131054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18750,PALMER,FREDDIE,M,1219,W SILVER ST,NaN,19133,CTC05,1219 W SILVER ST,1219 W SILVER ST,014501351-51,1219 W SILVER ST,BOOKER T W HALSEY,ISABELLE,39.994247,-75.151230
18751,CINTRON,ELSIE,F,2241,N 08TH ST,1ST,19133,CTC05,2241 N 8TH ST,2241 N 8TH ST,014501381-51,2241 N 8TH ST,GARCIA CESAR J,NaN,39.986060,-75.146351
18752,LOPEZ,SANTO,M,709,W CUMBERLAND ST,2ND FL,19133,CTC05,709 W CUMBERLAND ST,709 W CUMBERLAND ST,014501525-51,709 W CUMBERLAND ST,PHILA HOUSING AUTHORITY,NaN,39.989682,-75.144799
18753,TINDLEY,EARLENE,U,2244,N CAMAC ST,NaN,19133,CTC05,2244 N CAMAC ST,2244 N CAMAC ST,014501733-51,2244 N CAMAC ST,TINDLEY EARLENE,NaN,39.986986,-75.153254
18754,HOWARD,NICOLE,F,2629,N JESSUP ST,NaN,19133,CTC05,2629 N JESSUP ST,2629 N JESSUP ST,014501754-51,2629 N JESSUP ST,TMB PROPERTY MANAGEMENT L,NaN,39.992427,-75.149878
18755,TOOTLE,MONA,F,904,W HUNTINGDON ST,NaN,19133,CTC05,904 W HUNTINGDON ST,904 W HUNTINGDON ST,014502187-51,904 W HUNTINGDON ST,PHILA HOUSING AUTHORITY,NaN,39.991123,-75.146687
18756,PIGFORD,VICTORIA,F,644,W HUNTINGDON ST,NaN,19133,CTC05,644 W HUNTINGDON ST,644 W HUNTINGDON ST,014502189-51,644 W HUNTINGDON ST,PHILA HOUSING AUTHORITY,NaN,39.990788,-75.144021
18757,RICE,DENISE,F,3019,N 11TH ST,2,19133,CTC05,3019 N 11TH ST,3019 N 11TH ST,014502289-51,3019 N 11TH ST,LEWIS WILLIAM,NaN,39.998281,-75.147956
18758,CROCKER,DERRICK,M,2208,N DELHI ST,NaN,19133,CTC05,2208 N DELHI ST,2208 N DELHI ST,014502291-51,2208 N DELHI ST,WEAVER LARRY,WEAVER DWANKESNA,39.985634,-75.148698
18759,ANDERSON,TIMOTHY,U,2624,N MARSHALL ST,6,19133,CTC05,2624 N MARSHALL ST,2624 N MARSHALL ST,014502715-51,NaN,NaN,NaN,NaN,NaN
18760,SAMPSON,SHERON,M,906,W SILVER ST,NaN,19133,CTC05,906 W SILVER ST,906 W SILVER ST,014502935-51,906 W SILVER ST,WILHELMINA HICKSON,NaN,39.993647,-75.146181
18761,DU BREY,KIREAM,M,721,W ALLEGHENY AVE,NaN,19133,CTC05,721 W ALLEGHENY AVE,721 W ALLEGHENY AVE,014506180-51,721 W ALLEGHENY AVE,ROUSE CONNIE M,NaN,40.000554,-75.142746
18762,FOSTER,ANGELA,F,2816,N 09TH ST,NaN,19133,CTC05,2816 N 9TH ST,2816 N 9TH ST,014511198-51,2816 N 9TH ST,LUCILLE GREEN TR,NaN,39.994912,-75.145908
18763,MC GILL,KEYSHA,U,1233,W HUNTINGDON ST,NaN,19133,CTC05,1233 W HUNTINGDON ST,1233 W HUNTINGDON ST,014512033-51,1233 W HUNTINGDON ST,PEAY VINCENT,NaN,39.992156,-75.152095
18764,SMITH,JAMES,M,3054,N 10TH ST,NaN,19133,CTC05,3054 N 10TH ST,3054 N 10TH ST,014512158-51,3054 N 10TH ST,ROBINSON MARK,NaN,39.998814,-75.146632
18765,MORSE,DARRON,U,1234,W ALLEGHENY AVE,1R,19133,CTC05,1234 W ALLEGHENY AVE,1234 W ALLEGHENY AVE,014324684-51,1234 W ALLEGHENY AVE,PRECIOUS I INC,NaN,40.000986,-75.150422
18766,HARVIN,LILLIAN,F,1210,W ALLEGHENY AVE,NaN,19133,CTC05,1210 W ALLEGHENY AVE,1210 W ALLEGHENY AVE,014352816-51,1210 W ALLEGHENY AVE,JOHNSON ESTHER,JOHNSON EDWARD,40.000900,-75.149595
18767,GREENE,GLADYS,F,3128,N CAMAC ST,NaN,19133,CTC05,3128 N CAMAC ST,3128 N CAMAC ST,014353826-51,3128 N CAMAC ST,CONDIOTTI MATTHEW,NaN,40.000297,-75.150368
18768,BUSSEY,MARION,F,3150,N CAMAC ST,NaN,19133,CTC05,3150 N CAMAC ST,3150 N CAMAC ST,014373566-51,3150 N CAMAC ST,MARION J BUSSEY,NaN,40.000732,-75.150277
18769,JENKINS,ROCHELLE,F,3124,N CAMAC ST,NaN,19133,CTC05,3124 N CAMAC ST,3124 N CAMAC ST,014373569-51,3124 N CAMAC ST,JENKINS ROCHELLE,JENKINS RICARDO,40.000215,-75.150385
18770,MARSHALL,BEVERLY,F,1207,W SEDGLEY AVE,NaN,19133,CTC05,1207 W SEDGLEY AVE,1207 W SEDGLEY AVE,014373571-51,1207 W SEDGLEY AVE,STOKES BEVERLY,NaN,40.000266,-75.149688
18771,MC GRIER,BRUCE,M,3131,N CAMAC ST,NaN,19133,CTC05,3131 N CAMAC ST,3131 N CAMAC ST,014373576-51,3131 N CAMAC ST,JORDAN PATRICIA A,NaN,40.000355,-75.149884
18772,COLEMAN,SAMUEL,M,3109,N 13TH ST,NaN,19133,CTC05,3109 N 13TH ST,3109 N 13TH ST,014373596-51,3109 N 13TH ST,COLEMAN SAMUEL J,NaN,39.999930,-75.150767
18773,WILLIAMS,AARON,U,3151,N CAMAC ST,NaN,19133,CTC05,3151 N CAMAC ST,3151 N CAMAC ST,014373633-51,3151 N CAMAC ST,WILLIAMS BARRY M SR,WILLIAMS MARGARET M,40.000785,-75.149781
18774,JOHNSON,LARRY,U,3113,N 13TH ST,NaN,19133,CTC05,3113 N 13TH ST,3113 N 13TH ST,014373650-51,3113 N 13TH ST,JOHNSON ADA R,NaN,40.000012,-75.150750
18775,CRUDUP,JULES,M,3146,N 12TH ST,NaN,19133,CTC05,3146 N 12TH ST,3146 N 12TH ST,014373658-51,3146 N 12TH ST,CRUDUP HARVEY L,CRUDUP WANDA R,40.000663,-75.149485
18776,YOUNG,CHARLES,U,3153,N 13TH ST,NaN,19133,CTC05,3153 N 13TH ST,3153 N 13TH ST,014373693-51,3153 N 13TH ST,YOUNG CHARLES,NaN,40.000811,-75.150583
18777,BUTLER,ROBERT,M,1230,W ALLEGHENY AVE,2,19133,CTC05,1230 W ALLEGHENY AVE,1230 W ALLEGHENY AVE,014378964-51,1230 W ALLEGHENY AVE,PRECIOUS I INC,NaN,40.000969,-75.150286
18778,THOMAS,SHATANA,M,3144,N 12TH ST,NaN,19133,CTC05,3144 N 12TH ST,3144 N 12TH ST,014486868-51,3144 N 12TH ST,MM NC PROPERTIES LLC,NaN,40.000622,-75.149494
18779,THOMAS,EUGENE,M,1226,W ALLEGHENY AVE,NaN,19133,CTC05,1226 W ALLEGHENY AVE,1226 W ALLEGHENY AVE,014496780-51,1226 W ALLEGHENY AVE,SIMMONS GENERAL II,NaN,40.000953,-75.150167

In [138]:
len(geocoded_voters_standardized.loc[geocoded_voters_standardized['lat'].isnull()])

3981

In [150]:
geocoded_voters_standardized  = geocoded_voters_standardized.drop(labels=['location2','location_y'],axis=1)

In [152]:
output = geocoded_voters_standardized.loc[~geocoded_voters_standardized['lat'].isnull()]

In [157]:
output = output.rename(columns={'location_x':'short_address'})

In [160]:
output.to_csv('fairhill.csv',encoding='utf-8')

In [101]:
properties.loc[properties['location'].str.contains('02ND ST')].head()

,location,owner_1,owner_2,lat,lng
498805,151-59 N 02ND ST,SPIVAK ADAM,NaN,39.953422,-75.142865
498909,151-59 N 02ND ST,CHABRA NARINDER,TRUSTEE 13 S BANK TRUST,39.953390,-75.142499
498910,151-59 N 02ND ST,FIREMANS PLACE OWNERS ASS,NaN,39.953350,-75.142694
498911,151R-59 N 02ND ST,159 NORTH 2ND ST ASSOC,LLC,39.953497,-75.142600
498912,151R-59 N 02ND ST,159 NORHT 2ND ST ASSOC,LLC,39.953492,-75.142553

In [106]:
geocoded_voters['short_street'] = geocoded_voters.loc[geocoded_voters['lat'].isnull()]['street'].str[2:]
geocoded_voters = geocoded_voters.rename({'location':'location1'})
geocoded_voters['location'] = geocoded_voters['house_number'].astype(str) + " " + geocoded_voters['short_street']

In [108]:
geocode_2 = pd.merge(geocoded_voters,properties,on='location',how='left')

In [111]:
len(geocoded_voters.loc[geocode_2['lat_x'].isnull() & geocode_2['lat_y'].isnull()])

7772

In [112]:
len(fairhill)

18778

In [89]:
len(properties.loc[properties['lat'].isnull()]) / float(len(properties))

0.000854697909091849

In [98]:
frame.loc[frame['street'].str.contains('MASCHER ST',na=False)]

,last_name,first_name,gender,house_number,street,apartment_number,zip,council_district
0,,,,,,,,
016070349-51,RICHMOND,CAROLYNN,F,53,N MASCHER ST,3R,19106,CTC01
015938851-51,RIVERA,GABRIEL,M,3330,N MASCHER ST,NaN,19140,CTC07
015939879-51,AGOSTO,LIZZETTE,F,2727,N MASCHER ST,NaN,19133,CTC07
015961819-51,MORALES,ADELAIDA,F,3404,N MASCHER ST,NaN,19140,CTC07
015965336-51,RODRIGUEZ,DAVID,M,3332,N MASCHER ST,NaN,19140,CTC07
015981815-51,TOLEDO,ANGELO,M,2942,N MASCHER ST,NaN,19133,CTC07
015984082-51,ACEVEDO,EUSTACIO,M,3450,N MASCHER ST,NaN,19140,CTC07
016013985-51,DAVILA AGOSTO,CARMEN,U,2749,N MASCHER ST,NaN,19133,CTC07
016070271-51,BETANCOURT,YESENIA,F,3222,N MASCHER ST,NaN,19140,CTC07
016074243-51,SANCHEZ,TEODORO,M,2713,N MASCHER ST,NaN,19133,CTC07
016074309-51,SANCHEZ,MARIA,U,2713,N MASCHER ST,NaN,19133,CTC07
016074325-51,RAMOS,ANGELA,F,2810,N MASCHER ST,NaN,19133,CTC07
016074347-51,ESPADA,ANNA,F,2829,N MASCHER ST,NaN,19133,CTC07
016074380-51,LEON,ORLANDO,U,2805,N MASCHER ST,NaN,19133,CTC07
016074494-51,GUZMAN,JAIME LUIS,U,2956,N MASCHER ST,NaN,19133,CTC07
016074508-51,ALBINO,REINA,F,2962,N MASCHER ST,NaN,19133,CTC07
016074552-51,SERATE,ROSA,U,2935,N MASCHER ST,NaN,19133,CTC07
016074613-51,DI BELLO,JOHN,M,3046,N MASCHER ST,NaN,19133,CTC07
016074693-51,ARROYO,JAMES,U,3049,N MASCHER ST,NaN,19133,CTC07
016074716-51,CHACON,ERICA,F,3056,N MASCHER ST,NaN,19133,CTC07
016074750-51,GONZALEZ,LIONEL,M,3362,N MASCHER ST,NaN,19140,CTC07
016074844-51,PEREZ,MARGARITA,F,3053,N MASCHER ST,NaN,19133,CTC07
016074894-51,RODRIGUEZ,MAYDA,U,3358,N MASCHER ST,NaN,19140,CTC07
016075056-51,VALDES,VICTORIA,U,3450,N MASCHER ST,NaN,19140,CTC07
016075095-51,LEON,FRANCISCO,M,2924,N MASCHER ST,NaN,19133,CTC07
016090549-51,WRIGHT,CARLA,F,2852,N MASCHER ST,NaN,19133,CTC07
016094595-51,DANIELS,RICHARD,M,3238,N MASCHER ST,NaN,19140,CTC07
015981539-51,LARAMEE,ROLAND,M,1721,N MASCHER ST,NaN,19122,CTC07
016076142-51,CARTAGENA,VIRGINIA,U,2027,N MASCHER ST,NaN,19122,CTC07
016106577-51,HAYES,CHRISTIAN,M,1245,N MASCHER ST,NaN,19122,CTC05
...,...,...,...,...,...,...,...,...
014372080-51,NAVARRO,CARMELO,M,5518,N MASCHER ST,NaN,19120,CTC09
014372089-51,BURKETT,JERMAIN,U,5525,N MASCHER ST,NaN,19120,CTC09
014374604-51,ZAYAS,ANGEL,U,4815,N MASCHER ST,NaN,19120,CTC07
014389575-51,HIGHSMITH,JUWANA,F,4732,N MASCHER ST,NaN,19120,CTC07
014413938-51,O DOOM FYNN,CONSUELO,F,5339,N MASCHER ST,NaN,19120,CTC09
014425797-51,MILLER,KAHLIL,M,4765,N MASCHER ST,NaN,19120,CTC07
014427985-51,MAGOBET,PAMELA,F,5504,N MASCHER ST,NaN,19120,CTC09
014428324-51,DUDLEY,BARBARA,F,5235,N MASCHER ST,NaN,19120,CTC09
014497984-51,INFANTE,IRMA,F,5227,N MASCHER ST,NaN,19120,CTC09
014334512-51,MASSEY,STEVEN,M,6212,N MASCHER ST,NaN,19120,CTC09
014339908-51,LYDE,MARQUES,M,5828,N MASCHER ST,NaN,19120,CTC09
014352631-51,MC KISSICK,TYRONE,M,5841,N MASCHER ST,NaN,19120,CTC09
014372162-51,RICHARDS,LATISHA,F,6051,N MASCHER ST,NaN,19120,CTC09
014394299-51,MC COY,ANTHONY,M,5751,N MASCHER ST,NaN,19120,CTC09
014404181-51,BURGOS,ALBERT,M,5715,N MASCHER ST,1ST FL,19120,CTC09
014404751-51,NUNEZ,RAMON,M,5929,N MASCHER ST,NaN,19120,CTC09
014423773-51,HATCHELL,ADDIE,F,5741,N MASCHER ST,NaN,19120,CTC09
014426864-51,DANIELS,DONNA,F,5613,N MASCHER ST,2,19120,CTC09
014427239-51,PETIT,YVES,M,5718,N MASCHER ST,NaN,19120,CTC09
014427279-51,AMARO,DENISE,F,5651,N MASCHER ST,NaN,19120,CTC09
014427691-51,WARNER,CALVIN,M,5839,N MASCHER ST,NaN,19120,CTC09
014427915-51,BENNETT,DEBORAH,U,5825,N MASCHER ST,NaN,19120,CTC09
014427961-51,BROWN,DIANE,U,5822,N MASCHER ST,J,19120,CTC09
014428253-51,SIMMONS,TANISHA,F,5931,N MASCHER ST,NaN,19120,CTC09
014428565-51,VALENTIN,ANGELICA,F,6009,N MASCHER ST,NaN,19120,CTC09
014428573-51,NELLONS WILLIAMS,CUTRENA,F,6033,N MASCHER ST,NaN,19120,CTC09
014429707-51,FRAZIER,LENA,U,6508,N MASCHER ST,NaN,19120,CTC09
014463472-51,MILLER,BETTY,F,5826,N MASCHER ST,NaN,19120,CTC09
014476190-51,JENNINGS LYNCH,LOVE,F,5822,N MASCHER ST,K,19120,CTC09
014478828-51,MASSEY,CHANTAL,F,6212,N MASCHER ST,NaN,19120,CTC09

In [55]:
frame = frame[['unknown1','last_name','suffix','affiliation','unknown2','street','state','cg']]

In [57]:
frame.columns = ['last_name','first_name','gender','house_number','street','apartment_number','zip','council_district']

In [34]:
focus_districts = frame[(frame['council_district'] == "CTC03") | (frame['council_district'] == "CTC08") | (frame['council_district'] == "CTC09")]

focus_districts.to_json('focus_districts.json',orient="records")

focus_districts = focus_districts.set_index('ID')

len(focus_districts)

322125

In [35]:
evictions = pd.read_csv("merged_1990.csv")

C:\Users\catst\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [36]:
evictions.head()

,Unnamed: 0,id,premises_x,lat,lon,number,street,city,state,zip,...,jba_breach,non_residential,unaware,months,publichousing,first_hearing_dow,latitude,longitude,clean_address,firstname
0,0,LT-06-11-01-3209,"6901 OLD YORK RD, PHILADELPHIA, PA",40.058737,-75.138612,6901,Old York Rd,Philadelphia,PA,19126,...,f,f,f,1.0,f,1.0,NaN,NaN,NaN,NaN
1,1,LT-94-06-16-1577,"220 W LUZERNE ST, PHILADELPHIA, PA",40.011256,-75.130653,220,W Luzerne St,Philadelphia,PA,19140,...,f,f,f,NaN,f,4.0,NaN,NaN,NaN,NaN
2,2,LT-06-12-29-7247,"6038 OGONTZ AVE, PHILADELPHIA, PA",40.047536,-75.151097,6038,Ogontz Ave,Philadelphia,PA,19141,...,f,f,f,0.0,f,2.0,NaN,NaN,NaN,NaN
3,4,LT-94-09-16-1407,"128 S 56TH ST, PHILADELPHIA, PA",39.957997,-75.233559,128,S 56th St,Philadelphia,PA,19139,...,f,f,f,NaN,f,2.0,NaN,NaN,NaN,NaN
4,5,LT-94-12-21-1995,"1516 JUDSON WAY, PHILADELPHIA, PA",39.978381,-75.173388,1516,Judson Way,Philadelphia,PA,19121,...,f,f,f,NaN,f,3.0,NaN,NaN,NaN,NaN

In [100]:
evictions['defendant'] = evictions['defendant'].str.upper()
evictions['voter_record'] = ""

In [104]:
focus_districts.iloc[0]

unknown1                                      NaN
last_name                                    HILL
first_name                                      R
middle_initial                                  C
suffix                                        NaN
gender                                          M
birth_date                    1972-04-23 00:00:00
date_registered               1997-03-17 00:00:00
affiliated                                      I
affilitation_date             2017-01-19 00:00:00
affiliation                                     D
house_number                                 5922
unknown2                                      NaN
street                                  IRVING ST
apartment_number                              NaN
address2                                      NaN
city                                 PHILADELPHIA
state                                          PA
zip                                         19139
unk3                                          NaN
unk4                                          NaN
unk5                                          NaN
unk6                                          NaN
unk7                                          NaN
last_voted                    2008-11-04 00:00:00
polling_place                                 307
polling_place_subdivision                  0307-1
unk_date                      2011-02-02 00:00:00
unk_num_string                        2.30538e+10
polling_place_2                               307
ward                                         WD03
unk8                                          NaN
mn                                           MN01
unk9                                          NaN
lg                                          LG191
sn                                           SN08
cg                                           CG01
council_district                            CTC03
cpr                                           CPR
cpd                                           CPD
rcd                                         RCD01
polling_place_subdivision2                 0307-1
Name: 015920096-51, dtype: object

In [105]:
for idx, voter in focus_districts.sample(frac=.01).iterrows():
    first = voter['first_name']
    last = voter['last_name']
    voter_id = idx
    mask = (evictions['defendant'].str.contains(first)) & (evictions['defendant'].str.contains(last))
    evictions['voter_record'] = evictions['voter_record'].mask(mask,voter_id)

KeyboardInterrupt:

In [108]:
matched = evictions.loc[evictions['voter_record'] != ""]

In [128]:
matched.to_json('evicted_voters.json',orient="records")

In [124]:
focus_districts.loc[focus_districts.index == '015794249-51'][['first_name', 'last_name','house_number','street','zip']]

             first_name last_name house_number     street    zip
ID
015794249-51     GENEEN     BIBBS         6000  N 13TH ST  19141

In [126]:
matched[['premises_x','zip','defendant','voter_record']]

,premises_x,zip,defendant,voter_record
182,"1903 S JESSUP ST, PHILADELPHIA, PA",19148,CHRISTOPHER JONES AND ALL OCCUPANTS|AND|GERALD...,015753706-51
370,"5051 OXFORD AVE, PHILADELPHIA, PA",19124,KEITH M. JOHNSON & OCCUPANTS,015717129-51
678,"3449 N HOPE ST, PHILADELPHIA, PA",19140,LEONARD WILLIAMS AND ALL OCCS|AND|MIESHA WRIGH...,015688308-51
712,"824 E HILTON ST, PHILADELPHIA, PA",19134,ERICK JOHNSON|AND|TERRENCE WILLIAMS,015031992-51
749,"4501 LARCHWOOD AVE, PHILADELPHIA, PA",19143,WILLIAMSON WALLACE,104409161-51
894,"1519 LATONA ST, PHILADELPHIA, PA",19146,DAVID WILLIAMS,021870087-51
936,"5000 WOODBINE AVE, PHILADELPHIA, PA",19131,BROWN REBECCA M,014596668-51
964,"2979 W SCHOOLHOUSE LN, PHILADELPHIA, PA",19144,KAREN BYRD,015913397-51
1329,"1100 S 58TH ST, PHILADELPHIA, PA",19143,HILLIAN BARBARA|AND|HILLIAN NAKIA,014593082-51
1475,"2711 TITAN ST, PHILADELPHIA, PA",19146,CHARLES POWELL|AND|LAVERNE HALL,104452652-51
1738,"3100 WHARTON ST, PHILADELPHIA, PA",19146,SHANTEE BROWN|AND|SYLVESTER THOMAS,014830302-51
1825,"117 CHESTNUT ST, PHILADELPHIA, PA",19106,KEVIN WASHINGTON JR,020696611-51
1827,"6350 GREENE ST, PHILADELPHIA, PA",19144,WHITE CYNTHIA,016038930-51
1859,"931 S PAXON ST, PHILADELPHIA, PA",19143,GERMAINE L. JONES & ALL OCCUPANTS,015571950-51
1866,"1229 W WESTMORELAND ST, PHILADELPHIA, PA",19140,MUSTAFA BROWN|AND|REBECCA YOUNG,014596668-51
2120,"6201 CRITTENDEN ST, PHILADELPHIA, PA",19138,GERALDINE FITZGERALD|AND|LARRY POWELL,104452652-51
2125,"5804 LANSDOWNE AVE, PHILADELPHIA, PA",19131,ROBERT C. JACKSON JR.,021510291-51
2466,"1951 S 23RD ST, PHILADELPHIA, PA",19145,GENEEN BIBBS,015794249-51
2659,"6060 CRESCENTVL RD, PHILADELPHIA, PA",19120,CRAWFORD DAVID,014791739-51
2681,"5850 N 13TH ST, PHILADELPHIA, PA",19141,TUCKER DALE|AND|WATKINS KENNETH,014253829-51
2899,"4721 LEIPER ST, PHILADELPHIA, PA",19124,AKEISHA THOMAS H/W AND ALL OCCUPANT|AND|JEROME...,102993438-51
3076,"1220 N BROAD ST, PHILADELPHIA, PA",19121,LEON PETTYJOHN & ALL OTHER OCCUPANTS,021280097-51
3649,"1336 FOULKROD ST, PHILADELPHIA, PA",19124,ROBERT JACKSON,021510291-51
3875,"7347 N 21ST ST, PHILADELPHIA, PA",19138,JESSIE M. JOHNSON|AND|PATRICK WILLIAMS & OCCUP...,015031992-51
3894,"2607 WELSH RD, PHILADELPHIA, PA",19114,GALLAGHER GEORGIEANN|AND|GALLAGHER JOSEPH,016212021-51
4405,"2000 S 28TH ST, PHILADELPHIA, PA",19145,CAROLYN GREENE|AND|RICHARD STOVALL,016035849-51
4441,"13651 PHILMONT AVE, PHILADELPHIA, PA",19116,JONES GLORIA,102872092-51
4447,"3416 N BOUVIER ST, PHILADELPHIA, PA",19140,NATISHA THOMAS|AND|RAMON RIVERA,102993438-51
5912,"3717 N CARLISLE ST, PHILADELPHIA, PA",19140,YVES JOSEPH & ALL OCCUPANTS,103939238-51
5946,"401 W WALNUT LA, PHILADELPHIA, PA",19144,POWELL ALICIA,104452652-51
...,...,...,...,...
491251,"1410 72ND AVE, PHILADELPHIA, PA",19126,"WILLIAMS,JR JOHN",015031992-51
491261,"2000 S 28TH ST, PHILADELPHIA, PA",19145,CAROLYN GREENE AND ALL OCCUPANTS|AND|RICHARD S...,016035849-51
491627,"4925 SAUL ST, PHILADELPHIA, PA",19124,MOORE DEANA|AND|MOORE JOHN,014993182-51
491673,"3825 OLIVE ST, PHILADELPHIA, PA",19104,CHRISTOPHER JONES|AND|DOROTHY JONES & ALL OCCU...,015753706-51
491764,"2607 WELSH RD, PHILADELPHIA, PA",19114,ASAMOAH ERIC|AND|AYENSU BEN,108187059-51
491768,"1540 N 19TH ST, PHILADELPHIA, PA",19121,SMITH RAMONA,104164952-51
491815,"5701 N BROAD ST, PHILADELPHIA, PA",19141,RUTH JOHNSON,014695298-51
491901,"1646 S 26TH ST, PHILADELPHIA, PA",19145,HATTIE SMITH & ALL OCCUPANTS,014348737-51
491999,"4901 STENTON AVE, PHILADELPHIA, PA",19144,"MIMS,JR. ERNEST|AND|WILLIAMS JOHNNA",015031992-51
492039,"4820 WYALUSING AVE, PHILADELPHIA, PA",19131,PATRICE CHEEKS|AND|RONALD WOMACK,102471929-51
492063,"314 N 32ND ST, PHILADELPHIA, PA",19104,LEONARD WILLIAMS,015688308-51
492145,"848 BROOKLYN ST, PHILADELPHIA, PA",19104,MICHAEL GREENE,014481852-51
492295,"835 N 45TH ST, PHILADELPHIA, PA",19104,TREVOR ANSELL,015786015-51
492435,"2047 CHRISTIAN ST, PHILADELPHIA, PA",19146,WAITES JOHN|AND|WILLIAMS CLARA,015031992-51
492482,"6201 CRITTENDEN ST, PHILADELPHIA, PA",19138,MOORE ADRIA W|AND|MOORE ANDRE L,020719630-51
492778,"8400 LINDBERGH BLV, PHILADELPHIA, PA",19153,JACKSON CHARLES,103747012-51
493039,"5806 WALTON AVE, PHILADELPHIA, PA",19143,CHARLENE WOODSON|AND|DWAYNE FETHERSON H/W,016000562-51
493442,"5410 SHARSWOOD ST, PHILADELPHIA, PA",19131,TISHA THOMAS,102993438-51
493546,"6217 VINE ST, PHILADELPHIA, PA",19139,MARINA JOHNSON|AND|SHAMIKA JONES|AND|SHARONN M...,014993182-51
493620,"2217 BONAFFON ST, PHILADELPHIA, PA",19142,TAJA GREY & ALL OTHER OCCUPANTS,102823085-51
493662,"2646 MILLER ST, PHILADELPHIA, PA",19125,GIDEON BURTON|AND|JOHN A BURTON,015893627-51
493806,"4631 GRISCOM ST, PHILADELPHIA, PA",19124,MICHAEL BURNS & OCCUPANTS|AND|TAMMY BURNS,021183723-51
494198,"3000 WOODHAVEN RD, PHILADELPHIA, PA",19154,"AVQUI,JR. SAMUEL|AND|JOHNSON YEROU",108187059-51
494283,"3306 N LEE ST, PHILADELPHIA, PA",19134,FRAZIER ROBIN|AND|WILSON RODNEY,014314401-51
494311,"8825 BROUS AVE, PHILADELPHIA, PA",19152,JACOBY MICHAEL|AND|SMITH MARIE,103589696-51
494920,"5223 LITCHFIELD ST, PHILADELPHIA, PA",19143,DAVID E PICKETT|AND|JEFFREY H JORDAN|AND|LISA ...,021870087-51
495222,"2007 E YORK ST, PHILADELPHIA, PA",19125,DAVID OTERO|AND|JENNIFER DAVIS|AND|MICHAEL LUPO,015342217-51
495322,"4927 N 12TH ST, PHILADELPHIA, PA",19141,CARTER BRIAN,016194699-51
495688,"747 MARLYN RD, PHILADELPHIA, PA",19151,PHILLIPS BARBARA J|AND|PHILLIPS JAMES D|AND|PH...,014593082-51
495914,"2609 MUHLFELD ST, PHILADELPHIA, PA",19142,GERMAINE JONES & ALL OTHER OCC,015571950-51

In [ ]:
matched_voter_ids = matched['voter_record']
focus_districts.iloc

In [48]:
defendant = evictions.iloc[12]['defendant'].upper()
voter = focus_districts.iloc[0]
'ARTHUR' in defendant and 'MCDANIELS' in defendant

True

In [66]:
test = evictions.sample(frac=.01)
test['voter_record'] = ""
#for i, record in test:
    #test.iat[i,91] = "8237-92"

In [68]:
test.head()['defendant']

314598                 FREDERICK WILLIAMS
46340     ERIC JONES|AND|JOYCE TODD JONES
111571                      MCDOUGALL IAN
181511    DEBRA RODGERS|AND|NICOLE GRAHAM
494988     MUNN JEANNETT|AND|MUNN PATRICK
Name: defendant, dtype: object

In [93]:
first = 'FREDERICK'
last = 'WILLIAMS'
mask = (test['defendant'].str.contains(first)) & (test['defendant'].str.contains(last))
test['voter_record'] = test['voter_record'].mask(mask,"")

In [94]:
test.head()

,Unnamed: 0,id,premises_x,lat,lon,number,street,city,state,zip,...,non_residential,unaware,months,publichousing,first_hearing_dow,latitude,longitude,clean_address,firstname,voter_record
314598,421758,LT-07-05-22-6633,"1018 S 48TH ST, PHILADELPHIA, PA",39.945041,-75.215368,1018,S 48th St,Philadelphia,PA,19143,...,f,f,4.29274,f,5.0,NaN,NaN,NaN,NaN,
46340,61868,LT-03-03-06-0436,"6060 CRESCENTVILLE RD, PHILADELPHIA, PA",40.041607,-75.114752,6060,Crescentville Rd,Philadelphia,PA,19120,...,f,f,NaN,f,2.0,NaN,NaN,NaN,NaN,
111571,149409,LT-96-03-15-1419,"1324 LOCUST ST, PHILADELPHIA, PA",39.948065,-75.163382,1324,Locust St,Philadelphia,PA,19107,...,f,f,NaN,f,2.0,NaN,NaN,NaN,NaN,
181511,243153,LT-08-10-14-5155,"233 E PENN ST, PHILADELPHIA, PA",40.034680,-75.166712,233,E Penn St,Philadelphia,PA,19144,...,f,f,3.00000,f,4.0,NaN,NaN,NaN,NaN,
494988,663353,LT-95-11-07-0432,"2220 WALNUT ST, PHILADELPHIA, PA",39.951001,-75.178310,2220,Walnut St,Philadelphia,PA,19103,...,f,f,NaN,f,2.0,NaN,NaN,NaN,NaN,

In [2]:
len(matched)

NameError: name 'matched' is not defined

<h1> Adding zip code to this thing </h1>

In [163]:
voters = pd.read_csv('all_voters.csv',encoding='utf-8')

In [187]:
properties = pd.read_csv('../opa_properties_public.csv',usecols=['location','owner_1','owner_2','lat','lng','zip_code'])

In [167]:
voters = voters.rename(columns={'0':'ID'})

voters['location'] = voters['house_number'].astype(str) + " " + voters['street']

<h4> Standardize addresses </h4>

In [203]:
p = PassyunkParser()
zipcode = 19143
v_chunk = voters.loc[voters['zip']==zipcode]
v_chunk['location'] = v_chunk['location'].apply(lambda x: p.parse(x)['components']['output_address'])

C:\Users\catst\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [204]:
p_chunk = properties.loc[properties['zip_code'].str.contains(str(zipcode),na=False)]
p_chunk['location'] = p_chunk['location'].apply(lambda x: p.parse(x)['components']['output_address'])

C:\Users\catst\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

<h4> merge baby merge </h4>

In [205]:
merged = pd.merge(v_chunk,p_chunk,how='left',on='location')

In [206]:
geocoded = merged.loc[~merged['lat'].isnull()]
print "number of voters: " + str(len(v_chunk))
print "number of geocoded voters: " + str(len(geocoded))
print "success: " + str(float(len(geocoded)) / len(v_chunk) * 100) + "%"

number of voters: 43703
number of geocoded voters: 34279
success: 78.4362629568%

In [207]:
geocoded = geocoded.drop('zip_code',axis=1)

In [208]:
path="voters_geocoded_" + str(zipcode) + ".csv"
geocoded.to_csv(path,encoding='utf-8')